<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/js_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Burgorder - fast and easy!</title>
    <meta charset="utf-8"/>
  </head>
    <body>
      <main>
	<header id="header">
	  <h1 class="headerh1">Welcome to Burgorder!</h1>
	  <img src="img/headerimg.jpg" id="headerimg">
	</header>
	<section id="burgersection">
	  
	  <h3>Burgers</h3>
	  <p>Select your order.</p>
	  
	  <div id="wrapper">
	    <div v-for="burger in menu">
	      <h4>{{ burger.name }}</h4>
	      <img class="burgerimg" v-bind:src="burger.imgPath"/>
	      <p>{{ burger.description }}</p>
	      <p>Kcal: {{ burger.kcal }}</p>
	      <p>{{ burger.allergy }}</p>
	    </div>
	  </div>
	</section>

	<form id="customersection">
	  <h3>Customer Information</h3>
	  <p>Provide your information to complete your order.</p>

	    <h4>Delivery information</h4>
	    <p>
	      <label for="fullname">Full Name</label></br>
	      <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
	    </p>
	
	    
	    <p>
	      <label for="email">E-mail</label></br>
	      <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
	    </p>
	    
	    <p>
	      <label for="street">Street</label></br>
	      <input type="text" id="street" name="st" required="required" placeholder="Street name">
	    </p>
	    
	    <p>
	      <label for="house">House</label></br>
	      <input type="number" id="house" name="ho" required="required" placeholder="House number">
	    </p>

	    <p>
	      <label for="paymentmethod">Payment options</label></br>
	      <select id="paymentmethod" name="pm">
		<option selected="selected">Credit card</option>
		<option>PayPal</option>
		<option>Swish</option>
		<option>Bitcoin</option>
	      </select>
	    </p>
	

	    <p>
	      <label>Gender</label></br>
	      <input type="radio" id="male" name="g" required="required" value="1">
	      <label for="male">Male</label></br>
	      <input type="radio" id="female" name="g" required="required" value="2">
	      <label for="female">Female</label></br>
	      <input type="radio" id="notprovided" name="g" required="required" value="3" checked="checked">
	      <label for="notprovided">Do not wish to provide</label></br>
	      
	    </p>
	  
	</form>

	<button type="submit" id="orderbutton"><img src="img/checkmark.png" width="15" height="15"/>Place order!</button>
	
      </main>
      <hr>
      <footer class="footer">
    	<p>©2020 - Burgorder</p>
      </footer>
    </body>
</html>
