<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Burgorder - fast and easy!</title>
    <meta charset="utf-8"/>
  </head>
    <body>
      <main>
	<h1>Welcome to Burgorder!</h1>
	
	<section id="burgersection">
	  
	  <h3>Burgers</h3>
	  <p>Select your order.</p>
	  
	  <table>
	    <thead>
	      <tr>
		<th>Cheese burger</th>
		<th>Mushroom burger</th>
		<th>Gluten free burger</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>
		  <img src="img/cheeseburger.jpg" alt="Cheese burger" width="300" height="200">
		</td>
		<td>
		  <img src="img/vegan-mushroom.jpeg" alt="Vegan Mushroom burger" width="300" height="200">
		</td>
		<td>
		  <img src="img/gluten-free-hamburger.jpg" alt="Gluten free burger" width="300" height="200">
		</td>
	      </tr>
	      <tr>
		<td>
		  <ul>
		    <li>Two patties made from 100% beef.</li>
		    <li>Two slices of american cheddar cheese.</li>
		    <li>Roasted brioche bun.</li>
		    <li>Total calories: 867 kcal.</li>
		    <li>Not <span class="allergy">gluten</span> or <span class="allergy">lactose</span> free.</li>
		  </ul>
		</td>
		<td>
		  <ul>
		    <li>Two patties made from mushrooms.</li>
		    <li>Red onions, spinach and cucumber.</li>
		    <li>Potato bun.</li>
		    <li>Total calories: 521 kcal.</li>
		    <li><span class="allergy">Vegan</span>.</li>
		    <li>Not <span class="allergy">gluten</span> free.</li>
		  </ul>
		</td>
		<td>
		  <ul>
		    <li>Patty made from chicken.</li>
		    <li>Muenster cheese, tomatoes, onions and avocado.</li>
		    <li><span class="allergy">Gluten</span> free bun.</li>
		    <li>Total calories: 867 kcal.</li>
		    <li><span class="allergy">Gluten</span> and <span class="allergy">lactose</span> free.</li>
		  </ul>
		</td>
	      </tr>
	  </table>
	  
	</section>

	<form id="customersection">
	  <h3>Customer Information</h3>
	  <p>Provide your information to complete your order.</p>

	    <h4>Delivery information</h4>
	    <p>
	      <label for="fullname">Full Name</label></br>
	      <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
	    </p>
	
	    
	    <p>
	      <label for="email">E-mail</label></br>
	      <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
	    </p>
	    
	    <p>
	      <label for="street">Street</label></br>
	      <input type="text" id="street" name="st" required="required" placeholder="Street name">
	    </p>
	    
	    <p>
	      <label for="house">House</label></br>
	      <input type="number" id="house" name="ho" required="required" placeholder="House number">
	    </p>

	    <p>
	      <label for="paymentmethod">Payment options</label></br>
	      <select id="paymentmethod" name="pm">
		<option selected="selected">Credit card</option>
		<option>PayPal</option>
		<option>Swish</option>
		<option>Bitcoin</option>
	      </select>
	    </p>
	

	    <p>
	      <label>Gender</label></br>
	      <input type="radio" id="male" name="g" required="required" value="1">
	      <label for="male">Male</label></br>
	      <input type="radio" id="female" name="g" required="required" value="2">
	      <label for="female">Female</label></br>
	      <input type="radio" id="notprovided" name="g" required="required" value="3" checked="checked">
	      <label for="notprovided">Do not wish to provide</label></br>
	      
	    </p>
	  
	</form>

	<button type="submit"><img src="img/checkmark.png" width="15" height="15"/>Place order!</button>
	
      </main>
      <hr>
      <footer>
    	<p>©2020 - Burgorder</p>
      </footer>
    </body>
</html>
