@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');


body {
    font-family: 'Open sans';
    font-size: 17px;
}

.allergy {
    font-weight: bold;
}

#burgersection {
    background-color: black;
    color: white;
}

#customersection {

}
