@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');


body {
    margin: 0 auto;
    font-family: 'Open sans';
    font-size: 17px;
}

#header {
    margin: 40px;
}

.allergy {
    font-weight: bold;
}

#burgersection {
    padding: 20px;
    background-color: black;
    color: white;
}


#customersection {
    margin: 20px 40px;
}

#orderbutton {
    margin: 0px 0px 20px 40px;
    padding: 10px 20px;
}

#orderbutton:hover {
    background-color: darkgray;
    cursor: pointer;
}

#burgertable {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#burgertable ul {
    list-style-type: none;
}
