@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');


body {
    margin: 0 auto;
    font-family: 'Open sans';
    font-size: 17px;
}

#header {
    margin: 40px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#headerimg {
    width: 100%;
    height: auto;
    opacity: 0.75;
    position: absolute;
    
}

.headerh1 {
    padding: 40px;
    position:absolute;
    z-index: 100;
    font-size: 40px;
}

.allergy {
    font-weight: bold;
}

#burgersection {
    padding: 10px 20px;
    margin: 20px 40px;
    background-color: black;
    color: white;
    border: 2px dashed white;
}


#customersection {
    margin: 20px 40px;
    padding: 10px 20px;
    border: 2px dashed black;
}

#orderbutton {
    margin: 0px 0px 20px 40px;
    padding: 10px 20px;
}

#orderbutton:hover {
    background-color: darkgray;
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.wrapper ul {
    list-style-type: none;
}

.wrapper h4 {
    font-weight: bold;
}

.burger {
    padding: 40px;
}

.a {
    grid-column: 1;
}

.b {
    grid-column: 2;
}

.c {
    grid-column: 3;
}

.footer {
    text-align: center;
}
